@charset "UTF-8";
/* CSS Document */


/* Style One */

.btn,
.btn:link,	
.btn:visited {
	display: inline-block;
	padding: 0.3em 2em;
	background-color: #CCC;
	border-radius: 1px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	color: #484646;
	font-weight:400;
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited {
	background-color: #AAA;
}

.btn:hover,
.btn:focus,
.btn:active {
	color: #DC1F47;
	border-bottom-color: #DDD;
	background-color: #DDD;
}


/* Style Two */

.btn2,
.btn2:link,	
.btn2:visited {
	display: inline-block;
	padding: 0em 1em;
	color: #000;
	border-bottom: none;
	font-weight:300;
	text-transform:uppercase;

}

.btn2-alt,
.btn2-alt:link,
.btn2-alt:visited {
	background-color: #DEDADA;
}

.btn2:hover,
.btn2:focus,
.btn2:active {
	border-bottom: none;
	background-color: #0ACBBC;
}

.styles{
	margin-top: 2rem;
}