@charset "UTF-8";
/* CSS Document */


/* Product Page CSS */

.h1-alt{
	text-align:center;
	font-size: 1.8020rem;
  	line-height: 1.6648;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: #484646;
	text-transform:uppercase;
}

.product-images{
	margin-top: -3rem;
}

.side-nav-box{
	margin-top:1rem;
	margin-left: 1rem;
	padding-right: 2rem;
}

.nav-side a,
.nav-side a:link,
.nav-side a:visited{
	display:block;
	color: #000;
	text-decoration:none; /*is not working*/
	text-align:center;
	list-style-type: none;
	line-height:2rem;
}

.nav-side-btn,
.nav-side-btn:link,
.nav-side-btn:visited{
	display:block;
	color: #000;
	text-decoration:none; /*is not working*/
	text-align:center;
	list-style-type: none;
	line-height:2rem;
}

.nav-side-btn:hover,
.nav-side-btn:focus,
.nav-side-btn:active{
	color: #DC1F47;
}

ul li:before {
	content: "";
}

ul,li { 
	list-style-type: none;
	list-style-position:inside;
	margin:0;
	padding:0; 
}

/* SEARCH RESULTS PAGE */
.cart-images,
.search-res-images{
	padding-top:1rem;
}

.cart-caption-title,
.search-res-caption{
	text-align:center;
	font-size: 1.2656rem;
  	line-height: 1.1852;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: #484646;
	text-transform:uppercase;
	margin-top:1rem;
}
}

/* SEARCH RESULTS ENDS */

@media only screen and (min-width: 33em){
.side-nav-box{
	margin-top:0rem;
	margin-left: 2.5rem;
	positon: fixed;
}

.nav-side a,
.nav-side a:link,
.nav-side a:visited{
	text-align:left;
}

.nav-side-btn,
.nav-side-btn:link,
.nav-side-btn:visited{
	text-align:left;
}

/* SEARCH RESULTS PAGE */
.search-res-images{
	padding-top:0rem;
}

/* SEARCH RESULTS ENDS */

}

@media only screen and (min-width: 53em){
.side-nav-box{
	margin-top:3.5rem;
	margin-left:3rem;
	position:fixed;
}


.product-images{
	margin-left:9rem;
}

}

/* Toggle Nav
.nav-top{
	max-height: 0;
	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
	overflow:hidden;
}

.nav-top[data-state="expanded"]{
	max-height: 14rem;
}
	
.ease-all,
.nav,
.nav-top{
	-webkit-transition: all 0.5s ease-out;
	-moz-transistion: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o- transition:all 0.5s ease-out;
	transition: all 0.5s ease-out;
}


/* Product Page CSS ENDS*/

body{
	margin: 0px;
}
.paragraph{
	text-align:center;
	margin: 0 10%;
}

.line{
	border-bottom: 1px solid black;
	margin-top:1rem;
	margin-bottom:1rem;
}

.img-flex {
  display: block;
  width: 100%;
}

.current {
	color:#DC1F47;
	font-weight:700;
}

.current2 {
	background-color:#ccc;
	font-weight:700;
}

@media only screen and (min-width: 53em){

.line{
	margin-top: 6rem;	
	margin-bottom: 2rem;
}

.paragraph{
	margin: 5rem 20%;
}

.h1-alt{
	text-align:left;
	margin-left: 10rem;

}

}