@charset "UTF-8";
/* CSS Document */


.header{
	margin-top: 2rem;	
}

main{
	margin:0 5%;
}

/*Navigation*/
.nav a,
.nav a:link,
.nav a:visited{
	display:block;
	color: #000;
	text-decoration:none; /*is not working*/
	text-align:center;
	list-style-type: none;
	line-height:2rem;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display:block;
	color: #000;
	text-decoration:none; /*is not working*/
	text-align:center;
	list-style-type: none;
	line-height:2rem;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active{
	color: #DC1F47;
}

ul li:before {
	content: "";
}

ul,li { 
	list-style-type: none;
	list-style-position:inside;
	margin:0;
	padding:0; 
}

/* Toggle Nav*/
.nav-top{
	max-height: 0;
	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
	overflow:hidden;
}

.nav-top[data-state="expanded"]{
	max-height: 14rem;
}
	
.ease-all,
.nav,
.nav-top{
	-webkit-transition: all 0.5s ease-out;
	-moz-transistion: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o- transition:all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

@media only screen and (min-width: 33em){
.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display: none;
}
	
.nav-top{
	max-height: 5rem;
	margin-top: 2rem;
}

.nav li{
	float: left;
	width: 20%;
	display: inline-block;	
	margin-bottom: 0rem;
	border-bottom: 1px solid rgba(204, 204, 204, 1);
}

}

