@charset "UTF-8";
/* CSS Document */

.title{
	line-height:35px;
	margin-top:1.5rem;
}

.about{
	text-align:center;
	margin-bottom:0.5rem;
	margin-top:2rem;
}

.description{
	text-align: center;
}

.centre-button{ /*CANNOT CENTRE ON SMALL SCREEN!*/
	/*float:right;*/
}

/*QTY*/
.qty{ /*CANNOT CENTRE ON SMALL SCREEN!*/
	/*float:left;*/
	
}


.qty-wrapper {
	margin: 4rem auto;
	width: 150px;
}

.btn-wrapper {
	margin: 2rem auto;
	width: 150px;
}

.woocommerce .quantity input.qty, 
.woocommerce #content .quantity input.qty, 
.woocommerce-page .quantity input.qty, 
.woocommerce-page #content .quantity input.qty {
	width: 80px;
	height: 20px;
	float: left;
	padding: 0;
	text-align: center;
	border: none;
	font-weight: normal;
}

.woocommerce .quantity .minus, 
.woocommerce #content .quantity .minus, 
.woocommerce-page .quantity .minus, 
.woocommerce-page #content .quantity .minus {
	float:left;
	width: 11px;
	height: 11px;
	display: block;
	background: url("http://lovelab.co.za/proto/pederson_arrows.png") no-repeat scroll left bottom transparent;
	text-indent: -500px;
	border:none;
	background-position: left 0px;
	cursor: pointer;
	margin-top:5px;
}

.woocommerce .quantity .minus:hover, 
.woocommerce #content .quantity .minus:hover, 
.woocommerce-page .quantity .minus:hover, 
.woocommerce-page #content .quantity .minus:hover {  
	background-position: left -20px;
}

.woocommerce .quantity .plus, 
.woocommerce #content .quantity .plus, 
.woocommerce-page .quantity .plus, 
.woocommerce-page #content .quantity .plus {
	width: 11px;
	height: 11px;
	background: url("http://lovelab.co.za/proto/pederson_arrows.png") no-repeat scroll left bottom transparent;
	text-indent: -500px;
	border:none;
	background-position: right 0px;
	cursor: pointer;
	margin-top:5px;
}

.woocommerce .quantity .plus:hover, 
.woocommerce #content .quantity .plus:hover, 
.woocommerce-page .quantity .plus:hover, 
.woocommerce-page #content .quantity .plus:hover {  
	background-position: right -20px;
}

.arr-r.black {
background-position: right -20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*QTY end*/

.border-bottom-2{
	border-bottom: 1px solid #ACACAC;
	margin: 0 1%;
}

@media only screen and (min-width: 36em){
.about{
	text-align: left;
}

.description{
	text-align: left;
	float:right;
}
}


@media only screen and (min-width: 43em){
/*.border-bottom-2{
	display:none;
}*/

.title{
	float:left;
}

.media-body-price{
	text-align:left;
	float:right;
}

.unit-m-1-3{
	width: 33.3333%;
	
}

.unit-m-1 {
	width: 100%;
}

.unit-m-1-2 {
	width: 50%;
}
}

