*{ 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}


/* Main CSS */
.search-field-container{ 
	position: relative; 
	margin-bottom: 2rem;
	margin-top:-2rem;
}

.search-field{ 
	width: 100%; 
	position: absolute; 
	right: 0; 
	top: 0;
  	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.search-field:focus{ 
	width: 100%; 
}


/* Appearance */


.search-field-container{ 
	display: block; 
	float: left; 
	width: 100%; 
	height: 35px;
	border: 1px solid red; 
}

.search-form{ 
	max-width: 300px; 
	margin: 40px auto; 
}

.search-field{ 
	background-color: #fff; 
	font-size: 14px; 
	padding: 8px; 
	border: 1px solid #ccc; 
	outline: none; 
	-moz-border-radius: 1px; 
	border-radius: 1px; 
}

@media only screen and (min-width: 33em){
.search-field{ 
	width: 70%; 
}

}