# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- Shelly Babij
- Sarah Bootsma
- Rachel Lin
- Samantha McClelland
- Thalia Bacilio
- Marta Traczyk

## Tasks

1. Go to the jewelry page
2. Select the pearl earrings
3. Purchase the earrings

---

## Individual Results & Observations

### Shelly Babij (Voice)

- Completed the tasks as expected


### Sarah Bootsma (Voice)

- Was able to perform tasks as expected
- Had trouble during purchase - entered on image instead of purchase button

### Rachel Lin (Voice)

- Completed tasks well
- Like Sarah, entered image on check-out page instead of pressing PURCHASE

### Samantha McClelland (Tab)

- Completed all tasks perfectly!

### Thalia Bacilio (Tab)

- She completed the tasks as expected.

### Marta Traczyk (Tab)

- Tasks were completed as expected.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Editing the Cart page links so that you can't click on images.

### Serious, Causes Frustration, May Hinder Completion

- None

### Minor, Annoying, Won’t Hinder Completion

- None