---
layout: default
title: Home
showbanner: yes
bannertext: Welcome to the Willow Tree
---

<div class="grid">
	<div class="gutter small-promo unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="" desc="" image="small-promo.jpg"%}
	</div>
	<div class="gutter small-promo unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="" desc="" image="small-promo-2.jpg"%}
	</div>
	<div class="gutter small-promo unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="" desc="" image="small-promo-3.jpg"%}
	</div>
</div>

<div class="paragraph">
	<p class="unit-m-1-1">Welcome to <em>the Willow Tree</em>! We are an online store based out of Ottawa Ontario Canada who specializes in providing a variety of quality accessories to individuals all over the world.</p>
	
	<p class="unit-m-1-1">Each product is drawn-up and created with care in Canada by hard-working and passionate designers.</p>
	
	<p class="unit-m-1-1">Feel free to explore!</p>
</div>



<div class="grid">
	<div class="gutter unit">
		{% include promo-large.html title="" desc="" image="large-promo.jpg"%}
	</div>
</div>
