# User Testing Report

User testing was conducted by Sarah Hodgson on March 26, 2014 between the times of 3:15PM and 3:30PM with the following participants:

- Sarah Bootsma
- Rachel Lin
- Makeda McLean

## Tasks

1. Find information about the company - description, phone number, email
2. Find the cost of a pair of earrings
3. Purchase a pair of earrings

---

## Individual Results & Observations

### Sarah Bootsma

- She found the information about the company through the ABOUT page.
- She was able to find the cost of a pair of earrings by going Jewelry/Earrings/click on earring image
- From clicking on the earring image, she was able to make the purchase as expected
- Purchase page needs more info added to it


### Rachel Lin

- Clicked the ABOUT page to get the company information
- Found the price of a pair of earrings through the product information - Jewelry/Earrings/click on earring image
- Purchased the item right away before being asked to


### Makeda McLean

- She found the information about the company through the ABOUT page.
- She found the cost of a pair of earrings by visiting the earrings product page. 
- She was able to purchase a pair of earrings through their product page 



---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Need to add in real product images and information
- Touch ups!

### Serious, Causes Frustration, May Hinder Completion

- None

### Minor, Annoying, Won’t Hinder Completion

- None