---
layout: default
title: Jewelry
showline: yes
showsidenav: yes
showsidenavjewl: yes
---

<h1>Jewelry</h1>

<ul>
	{% for jewelry in site.pages %}
		{% if jewelry.type == 'earrings' %}
			<li>
				{{jewelry.title}}
			</li>
		{% endif %}
	{% endfor %}
</ul>

<ul> <!-- Want Jaekl to automatically generate </li>s for the page - loop -->
	{% for dino in site.pages %} <!-- Any code between the for and endfor will get written out multiple times -->
		{% if dino.category == 'jewelry' %}
			<li>
			<a href="{{site.baseurl}}{{dino.url}}">
				<img src="{{site.baseurl}}/images/{{earring.image}}" alt="">
				{{earring.name}}
			</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>