<!doctype html>
<html>
<head>
	<title>{{page.title}} · The Willow Tree</title>
	
	<link href='http://fonts.googleapis.com/css?family=Rosario:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/the-willow-tree.css" rel="stylesheet">
	
	<link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico"/>
	
	<meta charset="UTF-8">
	<meta name="handheldfriendly" content="true">
  	<meta name="mobileoptimized" content="240">
  	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="handheldfriendly" content="true">
	<meta name="description" content="The Willow Tree is an online store based out of Candada.">
	<meta name="keywords" content="Canada, Ottawa, accessories, onine store, store, shop, jewelry, outerwear, footwear">
	<meta name="author" content="The Willow Tree">
	<meta name="copyright" content="Copyright 2014 Sarah Hodgson - The Willow Tree"> 	


</head>
<body>	

<!-- Header & Navigation -->
<header class="" role="banner">
<!-- Search Field-->

	<form class="search-form" method='get' action="{{site.baseurl}}/search/" role="search">
	  <div class="search-field-container">
		<input type="text" class="search-field" placeholder="Search..." />
	  </div>  
	</form>

<!--(Invisible) header & (visible) logo -->


	<div class="header">
		<h1>The Willow Tree</h1>
	</div>
	<a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/twt-logo-copy.gif" alt="The Willow Tree Logo" class="img top-logo"></a> 
	
	<!-- Nav -->
	<main>
		<a href="#nav" class="nav-btn">MENU</a>
		<nav class="nav nav-top ease-all" data-state="collapsed" role="navigation">
			<ul>
				<li><a class="{% if page.url == '/'%}current{% endif %}" href="{{site.baseurl}}/">HOME</a></li>
				<li><a class="{% if page.url == '/about/'%}current{% endif %}" href="{{site.baseurl}}/about/">ABOUT</a></li>
				<li><a class="{% if page.url == '/jewelry/'%}current{% endif %}" href="{{site.baseurl}}/jewelry/">JEWELRY</a></li>
				<li><a class="{% if page.url == '/outerwear/'%}current{% endif %}" href="{{site.baseurl}}/outerwear/">OUTERWEAR</a></li>
				<li><a class="{% if page.url == '/footwear/'%}current{% endif %}" href="{{site.baseurl}}/footwear/">FOOTWEAR</a></li>
			</ul>
		</nav>
		{% if page.showline%}
			<div class="line"></div>
		{% endif %}
	</main>
</header>

{% if page.showbanner%}
	<div class="banner">
		<p class="banner-text">{{page.bannertext}}</p>
		<p class="banner-text-under">{{page.bannertextunder}}</p>
	</div>
{% endif %}

{% if page.showsidenav%}
	<div class="side-nav-box"
		<nav class="nav-side" data-state="expanded">
			<ul>
				<li><a class="{% if page.url == '/jewelry/'%}current2{% endif %}" href="{{site.baseurl}}/jewelry/">JEWELRY</a></li>
				{% if page.showsidenavjewl%}
					<li><a class="{% if page.url == '/jewelry/earrings/'%}current{% endif %}" href="{{site.baseurl}}/jewelry/earrings/">earrings</a></li>
					<li><a class="{% if page.url == '/jewelry/rings/rings-filter/'%}current{% endif %}" href="{{site.baseurl}}/jewelry/rings/">rings</a></li>
					<li><a class="{% if page.url == '/jewelry/necklaces-bracelets/necklaces-filter/'%}current{% endif %}" href="{{site.baseurl}}/jewelry/necklaces/">necklaces</a></li>
				{% endif %}
					
				<li><a class="{% if page.url == '/outerwear/'%}current2{% endif %}" href="{{site.baseurl}}/outerwear/">OUTERWEAR</a></li>
				{% if page.showsidenavout%}
					<li><a class="{% if page.url == '/outerwear/scarves/'%}current{% endif %}" href="{{site.baseurl}}/outerwear/scarves/">scarves</a></li>
					<li><a class="{% if page.url == '/outerwear/hats/'%}current{% endif %}" href="{{site.baseurl}}/outerwear/hats/">hats</a></li>
					<li><a class="{% if page.url == '/outerwear/eyewear/'%}current{% endif %}" href="{{site.baseurl}}/outerwear/eyewear/">eyewear</a></li>
				{% endif %}
					
				<li><a class="{% if page.url == '/footwear/'%}current2{% endif %}" href="{{site.baseurl}}/footwear/">FOOTWEAR</a></li>
				{% if page.showsidenavfoot%}
					<li><a class="{% if page.url == '/footwear/boots/'%}current{% endif %}" href="{{site.baseurl}}/footwear/boots/index.html/">boots</a></li>
					<li><a class="{% if page.url == '/footwear/sandals/'%}current{% endif %}" href="{{site.baseurl}}/footwear/sandals/index.html/">flats</a></li>
					<li><a class="{% if page.url == '/footwear/heels/'%}current{% endif %}" href="{{site.baseurl}}/footwear/heels/">formal-heels</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
{% endif %}

{{content}}

<!-- Footer-->
<div class="footer">
	<h6 class="footer-text border-bottom">THE WILLOW TREE</h6>

	<section>
		<ul class="social">
			<li>
				<a class="ease-all" href="" target="_blank">
					<i class="fa fa-facebook"></i>
					<span class="hide-text">Facebook</span>
				</a>
			</li>	
			
			<li>
				<a class="ease-all" href="" target="_blank">
					<i class="fa fa-twitter"></i>
					<span class="hide-text">Twitter</span>
				</a>
			</li>	
			<li>
				<a class="ease-all" href="" target="_blank">
					<i class="fa fa-instagram"></i>
					<span class="hide-text">Instagram</span>
				</a>
			</li>			
		</ul>
	</section>
	
	<p class="info-footer-text micro border-top" role="contentinfo">613.477.3392 | infotree@thewillowtree.ca</p>
	
</div>

<script src="../../js/nav.js"></script>
</body>
</html>
