---
layout: default
showsidenav:yes
showsidenavfoot: yes
---

{% if page.showsidenav%}
	<div class="side-nav-box"
		<nav class="nav-side" data-state="expanded">
			<ul>
				<li><a class="{% if page.url == '/jewelry/'%}current{% endif %}" href="{{site.baseurl}}/jewelry/">JEWELRY</a></li>
					
				<li><a class="{% if page.url == '/outerwear/'%}current{% endif %}" href="{{site.baseurl}}/outerwear/">OUTERWEAR</a></li>
					
				<li><a class="{% if page.url == '/footwear/'%}current{% endif %}" href="{{site.baseurl}}/footwear/">FOOTWEAR</a></li>
				{% if page.showsidenavfoot%}
					<li><a class="{% if page.url == '/jewelry/'%}current{% endif %}" href="{{site.baseurl}}/jewelry/">boots</a></li>
					<li><a class="{% if page.url == '/jewelry/'%}current{% endif %}" href="{{site.baseurl}}/jewelry/">sandals</a></li>
					<li><a class="{% if page.url == '/jewelry/'%}current{% endif %}" href="{{site.baseurl}}/jewelry/">high-heels</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
{% endif %}

{{content}}